{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}

    <h1>Edit "{{title}}" Page</h1>
    <p>Please use the form below to edit the page.</p>
    <p>Note: This wiki uses <a href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax">Github markdown</a>.</p>

    {% if messages %}
        {% for message in messages %}
            <b>{{ message }}</b>
        {% endfor %}
    {% endif %}

    <form action="{% url 'edit' title=title %}" method="post">
        {% csrf_token %}
        {{edit_form.as_p}}
        <button type="submit" style="padding: 8px 16px; background-color: #007bff; color: #fff; border: none; border-radius: 4px; cursor: pointer;">Save</button>
    </form>

{% endblock %}