{% extends "encyclopedia/layout.html" %}

{% block title %}
Create New Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    <p>Please use the form below to create a new page.</p>
    <p>Note: This wiki form uses <a href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax">Github markdown</a>.</p>

    {% if messages %}
        {% for message in messages %}
            <b>{{ message }}</b>
        {% endfor %}
    {% endif %}
    
    <form action="{% url 'new' %}" method="post">
        {% csrf_token %}
        {{create_form.as_p}}
        <button type="submit"> Save </button>
    </form>
{% endblock %}