{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results: {{query}}
{% endblock %}

{% block body %}
    <h1> Search Results for "{{query}}" </h1>

    {% if related_entries %}
    <p> Related Entries: </p>

    <ul>
        {% for title in related_entries %}
        <li><a href="{% url 'entry' title=title%}">{{title}}</a></li>
        {% endfor %}
    </ul> 

    {% else %}
        <p> No results found. Click <a href="{% url 'index' %}">here</a> to go back. </p>
    {% endif %}
{% endblock %}